build/
bin/
lib/*.a
lib/*.so
lib/*.dylib

CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
cmake_install.cmake
build.ninja
rules.ninja
.ninja_deps
.ninja_log
compile_commands.json
tablegen_compile_commands.yml

.vscode/
.idea/
.DS_Store
*.swp   